body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, p {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

button {
    display: block;
    margin: 30px auto;
    padding: 20px;
    background-color: #ff69b4;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ff5c9a;
}

#message {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #ff69b4;
    margin-top: 50px;
    display: none;
    animation-name: slideInDown;
    animation-duration: 1s;
}

@keyframes slideInDown {
    from { 
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
